$color-violet-red: #C71585;
$color-steel-blue: #4682B4;
$color-dark-turquoise: #00CED1;
$color-spring-green: #00FA9A;
$color-yellow: #FFFF00;
$color-chocolate: #FF7F24;
$color-tomato: #FF6347;

$color-navbar: #90C747;

$enable-rounded: false;