@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@import "variables";


@import "~bootstrap/scss/bootstrap";


h2, h3, h4, h5, h6 {
  color: $color-navbar;
}

@media screen {
  .print {
    display: none;
  }
}

@page {
  size: A4 landscape;
  margin: 1cm;
}

@media print {

}

.dropdown-item {
  color: #444 !important;

  &:hover {
    color: #000 !important;
  }
}